// Base
// Variables and mixins

// Theme Colors
// Primary
$primary: #007AC3;
$primary-lightest: #7FF9FF;
$primary-light: #33ADF6;
$primary-dark: #004790;
$primary-darkest: #000044;

// Secondary
$secondary: #E16B1E;
$secondary-light: #F89F55;
$secondary-dark: #9A4600;
$secondary-compliment: #F89F55;

// Tertiary
$tertiary: #A0B13A;
$tertiary-dark: #546500;
$tertiary-compliment: #546500;

// Grays
$black:             #000000;
$gray-darkest:      lighten($black, 16%);
$gray-dark:         lighten($black, 36%);
$gray:              lighten($black, 56%);
$gray-light:        lighten($black, 76%);
$gray-lightest:     lighten($black, 95%);
$white:             #ffffff;

// Color Scheme
// Use this to roll your own color schemes if you like
$baseColor:         $primary;                        // Set a base color
$complement:        complement($baseColor);       // Determine a complementary color
$split1:            adjust-hue($baseColor, 158);  // Split complements
$split2:            adjust-hue($baseColor, -158);
$triad1:            adjust-hue($baseColor, 135);  // Triads colors
$triad2:            adjust-hue($baseColor, -135);
$tetra1:            adjust-hue($baseColor, 90);   // Tetra colors
$tetra2:            adjust-hue($baseColor, -90);
$analog1:           adjust-hue($baseColor, 22);   // Analogs colors
$analog2:           adjust-hue($baseColor, -22);

// Font Stacks
@mixin shorthand-font($weight: normal, $size: 14px, $lineHeight: 20px) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}
@mixin sans-serif-font($weight: normal, $size: 14px, $lineHeight: 20px) {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}
@mixin serif-font($weight: normal, $size: 14px, $lineHeight: 20px) {
  font-family: "Georgia", Times New Roman, Times, serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}
@mixin monospace-font($weight: normal, $size: 12px, $lineHeight: 20px) {
  font-family: "Monaco", Courier New, monospace;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

// Clearfix for clearing floats like a boss h5bp.com/q
@mixin clearfix {
  zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    zoom: 1;
  }
  &:after {
    clear: both;
  }
}

// Transitions
@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
} 

// Gradient Background
// ----------- 
@mixin horizontal-gradient ($startColor: #555, $endColor: #333) {
  background-color: $endColor;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, right top, from($startColor), to($endColor)); // Konqueror
  background-image: -moz-linear-gradient(left, $startColor, $endColor); // FF 3.6+
  background-image: -ms-linear-gradient(left, $startColor, $endColor); // IE10
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $startColor), color-stop(100%, $endColor)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(left, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(left, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient(left, $startColor, $endColor); // Le standard
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr='#{$endColor}', GradientType=1); // IE9 and down
}

@mixin vertical-gradient ($startColor: #555, $endColor: #333) {
  background-color: $endColor;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from($startColor), to($endColor)); // Konqueror
  background-image: -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
  background-image: -ms-linear-gradient(top, $startColor, $endColor); // IE10
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $startColor), color-stop(100%, $endColor)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient(top, $startColor, $endColor); // The standard
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr='#{$endColor}', GradientType=0); // IE9 and down
}

@mixin directional-gradient ($startColor: #555, $endColor: #333, $deg: 45deg) {
  background-color: $endColor;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient($deg, $startColor, $endColor); // FF 3.6+
  background-image: -ms-linear-gradient($deg, $startColor, $endColor); // IE10
  background-image: -webkit-linear-gradient($deg, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient($deg, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient($deg, $startColor, $endColor); // The standard
}

@mixin vertical-three-colors-gradient($startColor: #00b3ee, $midColor: #7a43b6, $colorStop: 50%, $endColor: #c3325f) {
  background-color: $endColor;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), color-stop($colorStop, $midColor), to($endColor));
  background-image: -webkit-linear-gradient($startColor, $midColor $colorStop, $endColor);
  background-image: -moz-linear-gradient($startColor, $midColor $colorStop, $endColor);
  background-image: -ms-linear-gradient($startColor, $midColor $colorStop, $endColor);
  background-image: -o-linear-gradient($startColor, $midColor $colorStop, $endColor);
  background-image: linear-gradient($startColor, $midColor $colorStop, $endColor);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr='#{$endColor}', GradientType=0); // IE9 and down, gets no color-stop at all the proper fallback
}
@mixin gradient($startColor, $endColor, $startPercent, $endPercent) {
    background-color: $startColor;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top left, $startColor $startPercent, $endColor $endPercent);
    /* IE9 to IE7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr='#{$endColor}');
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top left, $startColor $startPercent, $endColor $endPercent);
    /* Opera */
    background-image: -o-linear-gradient(top left, $startColor $startPercent, $endColor $endPercent);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop($startPercent, $startColor), color-stop($endPercent, $endColor));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top left, $startColor $startPercent, $endColor $endPercent);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom right, $startColor $startPercent, $endColor $endPercent);
}
// Gradient Bar Colors for buttons and alerts
@mixin gradientBar($primaryColor, $secondaryColor) {
  @include vertical-gradient($primaryColor, $secondaryColor);
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  border-color: $secondaryColor $secondaryColor darken($secondaryColor, 15%);
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) opacify(rgba(0,0,0,.1), .15);
}

// Reset filters for IE
@mixin reset-filter() {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
// Box-Shadow
@mixin box-shadow($shadow: 0 1px 3px rgba(0,0,0,.25)) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow   : $shadow;
    box-shadow        : $shadow;
}
@mixin text-shadow($shadow: 0 -1px 1px rgba(0,0,0,0.5)) {
    text-shadow: $shadow;
}

// Border-radius
@mixin border-radius($radius: 5px) {
  -moz-border-radius   : $radius;
  -webkit-border-radius: $radius;
  border-radius        : $radius; 
}
@mixin rounded() {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
// Opacity
@mixin opacity($opacity: 100) {
  filter: alpha(opacity=$opacity);
  -khtml-opacity: $opacity / 100;
    -moz-opacity: $opacity / 100;
         opacity: $opacity / 100;
}