@font-face { 
  font-family: Open Sans;
  src: url('../fonts/OpenSans-Regular.eot'),
  url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.svg') format('svg'),
  url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}